#include <Windows.h>

#include "version.h"


LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK

VS_VERSION_INFO VERSIONINFO
FILEVERSION     XUTILS_MAJOR_VERSION,XUTILS_MINOR_VERSION,XUTILS_REVISION,0
PRODUCTVERSION  XUTILS_MAJOR_VERSION,XUTILS_MINOR_VERSION,XUTILS_REVISION,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904b0"
    BEGIN
      VALUE "CompanyName",      "x-phile"
      VALUE "FileDescription",  "Xutils Plugin"
      VALUE "FileVersion",      XUTILS_VERSION
      VALUE "InternalName",     "Xutils Plugin"
      VALUE "LegalCopyright",   "Copyright © 2005-2006 Artur Dorochowicz"    
      VALUE "OriginalFilename", "Xutils.dll"
      VALUE "ProductName",      "Xutils Plugin"
      VALUE "ProductVersion",   XUTILS_VERSION
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 0x4b0
  END
END
